name: test
on: push

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup ROS 2
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: humble

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-psutil

      - name: Build and Test
        run: |
          source /opt/ros/humble/setup.bash
          colcon build --packages-select mypkg
          colcon test --packages-select mypkg --event-handlers console_cohesion+ --pytest-args -k "not flake8 and not copyright"
          colcon test-result --summary
